<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/crear_entidad.css">
	<link rel="stylesheet" href="/css/inicio.css">
</head>
<body>
<header>
	<h1>Sistema de Apoyo a Comunidades con Movilidad Reducida</h1>
	<div class="user-info">
		{{#if usuario}}
		<p class="user-name">Usuario: {{usuario.getNameUser}}</p>
		{{/if}}
		<form style="background-color: unset; border: unset;" action="/logoff" method="post">
			<button class="btn-logout">Log Out</button>
		</form>
	</div>
</header>
<nav>
	<a href="/inicio">Home</a>
	<a href="/nosotros">Nosotros</a>
	<a href="/comunidades">Comunidades</a>
	<a href="/servicios">Servicios</a>
</nav>
<main style="height: unset;">
	<div id="page-content">
		<h2>Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</h2>
		<div>
			<div>
				<h3>Registrar un Incidente para: {{nombreDeServicio}}</h3>
				<div>
					<form action="" method="post">

						<div style="display: flex; flex-direction: row; align-items: center;">
							<label>Resumen:</label>
							<input style="height: 100%; width: 100%; margin-left: 5px;" type="text" name="resumen" placeholder="e.g. Ascensor sin servicio; Baño sin agua; etc.">
						</div>

						{{#if entidadesPosibles}}
						<div style="margin-top: 10px; display: flex; flex-direction: row; align-items: center; margin-bottom: 20px;">
						<label>Entidad:</label>
						<select style="width: 100%; margin-left: 5px;" name="entidad_id">
							<option value="-1">Seleccione una entidad</option>
							{{#each entidadesPosibles}}
							<option value="{{this.getId}}">{{this.getNombre}}</option>
							{{/each}}
						</select>
						</div>
						{{/if}}

						<div style="margin-top: 10px; display: flex; flex-direction: row; align-items: center; margin-bottom: 20px;">
							<label>Comunidad:</label>
							<select style="width: 100%; margin-left: 5px;" name="comunidad_id">
								<option value="-1">Sin definir</option>
								{{#each comunidades}}
								<option value="{{this.getId}}">{{this.getNombre}}</option>
								{{/each}}
							</select>
						</div>

						<label>Observaciones:</label>
						<textarea name="texto" style="height: 100px; width: 100%; max-width: 100%; min-width: 100%;" placeholder="Describa aquí lo sucedido."></textarea>

						{{#if error_descripcion}}
						<label class="error-label">ERROR: {{error_descripcion}}</label>
						{{/if}}

						<input style="margin-top: 10px;" type="submit" value="Dar de alta" class="btn">
					</form>
				</div>

				<div>
					<div style="margin-top: 15px;">
						<a style="margin: 3px" class="btn" href="/inicio">Ir a inicio</a>
						<a style="margin: 3px" class="btn" href="/incidentes/ver">Ver listado</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>