<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/crear_entidad.css">
    <link rel="stylesheet" href="/css/inicio.css">
</head>
<body>
    <header>
        <h1>Sistema de Apoyo a Comunidades con Movilidad Reducida</h1>
        <div class="user-info">
            {{#if usuario}}
            <p class="user-name">Usuario: {{usuario.getNameUser}}</p>
            {{/if}}
            <form style="background-color: unset; border: unset;" action="/logoff" method="post">
            <button class="btn-logout">Log Out</button>
            </form>
        </div>
    </header>
    <nav>
        <a href="/inicio">Home</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/comunidades">Comunidades</a>
        <a href="/servicios">Servicios</a>
    </nav>
    <main style="height: unset;">
        <div id="page-content">
            <h2>Monitoreo de Estado de Servicios de Transporte Público y de Establecimientos</h2>
            <div>
            <div>
                {{#if modificar}}
                <h3>Modificar: {{nombreEntidad}}</h3>
                {{/if}}
                {{#if entidadPrestadora}}
                <h3>Dar de alta una Entidad para: {{entidadPrestadora.getNombre}}</h3>
                {{/if}}
                <div>
                <form action="" method="post">
                    <div>
                    <label>Nombre:</label>
                    <input{{#if modificar}} value="{{nombreEntidad}}"{{/if}} type="text" name="nombre" placeholder="e.g. Línea B de Subte; Banco Santander; etc.">
                    </div>

                    <div>
                    <label>Tipo de entidad:</label>
                    <select style="width: 100%;" name="tipo_id">
                        <option value="0">Seleccione tipo</option>
                        <option value="1">Línea de Transporte</option>
                        <option value="2">Empresa Prestadora</option>
                    </select>
                    </div>

                    <h4>Localización (lugar de actividad):</h4>

                    <div>
                    <label>Provincia:</label>
                    <input{{#if modificar}} value="{{nombreProvincia}}"{{/if}} type="text" name="nombre-prov" placeholder="(Obligatorio)">
                    </div>

                    <div>
                    <label>Municipio:</label>
                    <input{{#if modificar}} value="{{nombreMunicipio}}"{{/if}} type="text" name="nombre-mncp" placeholder="(Opcional)">
                    </div>

                    {{#if error_descripcion}}
                    <label>ERROR: {{error_descripcion}}</label>
                    {{/if}}

                    {{#if modificar}}
                    <input type="submit" value="Modificar">
                    {{else}}
                    <input type="submit" value="Dar de alta">
                    {{/if}}
                </form>
                </div>

                <div>
                <div style="margin-top: 15px;">
                    <a class="btn" href="/inicio">Ir a inicio</a>
                    <a class="btn" href="/entidades/ver">Ver listado</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    </main>
</body>
</html>